In [1]:
!pip freeze | grep scikit-learn

scikit-learn==1.5.0

In [2]:
!python -V

Python 3.11.8

In [3]:
import pickle
import pandas as pd

In [4]:
with open('model.bin', 'rb') as f_in:
    dv, model = pickle.load(f_in)

In [5]:
categorical = ['PULocationID', 'DOLocationID']

def read_data(filename):
    df = pd.read_parquet(filename)
    
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

In [6]:
def feature_engineering(df : pd.DataFrame, year: int, month: int):
    df['ride_id'] = f'{year:04d}/{month:02d}_' + df.index.astype('str')
    return df

In [7]:
df = read_data('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-03.parquet')

In [8]:
dicts = df[categorical].to_dict(orient='records')
X_val = dv.transform(dicts)
y_pred = model.predict(X_val)

In [9]:
y_pred.std()

6.247488852238703

In [10]:
df_result = feature_engineering(df, 2023, 3)

In [11]:
df_result['pred_duration'] = y_pred

In [12]:
df_result = df_result.filter(["ride_id","pred_duration"])

In [13]:
output_file = 'prepared_output_taxi.parquet'

df_result.to_parquet(
    output_file,
    engine='pyarrow',
    compression=None,
    index=False
)

In [14]:
df_result

                 ride_id  pred_duration
0              2023/03_0      16.245906
1              2023/03_1      26.134796
2              2023/03_2      11.884264
3              2023/03_3      11.997720
4              2023/03_4      10.234486
...                  ...            ...
3403761  2023/03_3403761      11.952635
3403762  2023/03_3403762      20.049958
3403763  2023/03_3403763      11.595336
3403764  2023/03_3403764      13.113178
3403765  2023/03_3403765      12.899992

[3316216 rows x 2 columns]